  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

  * {
        box-sizing: border-box;
    }

  body  {
            background-color: #bdc3c7;  /* flatuicolors.com  materialui.co for bg colors from google*/ 
            font-family: 'open sans',sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* screen ko 100 row main divide kr daita ha aur verticle center main kr day ga pori screen ko use krtay hain */
            margin: 0;
        }   
        .container{
                background-color:white;
                border-radius: 5px;
                box-shadow: 0px 6px 20px  rgba(0,0,0, 0.3);
                width: 400px;
           
        }

        h2{
            text-align: center;
            margin: 0px 0px 20px;

        }
        .form{
            padding: 30px 40px;
            
        }
        .form-control{
            margin-bottom: 10px;
            padding-bottom: 20PX;
            position: relative;
            
        }

        .form-control label{
            display: block;
            color: #7777;
            margin-bottom:5px ;
        }

        .form-control input{
            border-radius: 5px;
            display: block;
            border: 2px solid #ecf0f1;
            padding: 10px;
            font-size: 14px;
            width: 100%;

        }
        .form-control input:focus{
            outline: 0;
            border-color: #7777;
        }
        